@use "../../utils/_variables.sass" as *

.variable-button
    height: 3em
    width: 14em
    background-color: $base-dark-violet
    color: #fff
    font-size: $font-small
    border-radius: 10px
    border: none
    box-shadow: 4px 4px 0.5em #00000085
    span
        position: absolute
        color: #ff0000
        width: max-content
        right: 0
        bottom: -1.25em
