@use "../components/DrawerMenu/_DrawerMenu.sass"
@use "../components/ActivityCard/_ActivityCard.sass"
@use "../components/VariableButton/_VariableButton.sass"
@use "/(main)/aktiviteter/_aktiviteter.sass"
@use "/(main)/aktivitetsDetaljer/_aktivitetsDetaljer.sass"
@use "/(main)/kalender/_kalender.sass"
@use "/(main)/søgeSide/_søgeSide.sass"
@use "/(main)/_mainLayoutStyle.sass"

// Font variables
$font-small: 18px
$font-medium: 24px
$font-large: 36px

// Color variables
$base-gray: #EAEAEA
$base-dark-violet: #5E2E53
$base-violet: #E1A1E9
$base-black: #000000

html, body
  max-width: 100vw
  overflow-x: hidden

*
  box-sizing: border-box
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none

.ubuntu-regular
  font-family: "Ubuntu", serif
  font-weight: 400
  font-style: normal

.roboto-regular
  font-family: "Roboto", serif
  font-optical-sizing: auto
  font-weight: 100
  font-style: normal
  font-variation-settings: "wdth" 100

.racing-sans-one-regular
  font-family: "Racing Sans One", serif
  font-weight: 400
  font-style: normal
